.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build/android-profile
/captures
*.class
cube-sdk/build/
wenwen/wenwen-release.apk
wenwen/wenwen-release-v1.0.0.apk
.idea/
*.apk
*.iml
tubobo/libs/Msc.jar
tubobo/libs/Sunflower.jar
/scanlib/build/
/tubobo/build
/build/
/app/build
tubobo/release/
openCVLibrary340/build
.svn/